@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/_ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/_ionicons';

html {
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
}
::-webkit-scrollbar { 
  display: none; 
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.content.overflow-scroll { 
  bottom: 0px !important; 
}
.button-xlarge {
  padding: 0 30px;
  min-height: 200px;
  font-size: 7em;
  line-height: 100px;
}
.bg-icon {
  font-size: 10em;
}
.bg-effect {
  transition-property: background;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.bg-effect:hover {
  background: #DEDEDE;
}