<template name="finished">
  <div class="list padding">
    <button class="button button-large button-positive button-block ion-refresh" data-play-again>
      JOGAR DENOVO?
    </button>
    <br><br>
    <h4 class="text-center dark">
      {{#if isWinner}}           
        <i class="ion-trophy balanced bg-icon"></i>
        <br>
        Você ganhou com {{totalOfClicks}} clicks!
      {{else}}
        <i class="ion-android-sad dark bg-icon"></i>
        <br>
        Você perdeu com {{totalOfClicks}} clicks
      {{/if}}
    </h4>
  </div>
</template>