<template name="gameboard">
  <div class="list padding">
    <h4 class="text-center dark">
      Tempo: {{timeElapsed}}
      <br>
      {{clickStatus}}
    </h4>
    <button class="button button-assertive button-xlarge button-block ion-android-sunny" data-click>
      {{#if totalOfClicks}}
        {{totalOfClicks}} CLICKS
      {{else}}
        CLIQUE AQUI
      {{/if}}
    </button>
    <audio preload="auto">
      <source src="/sounds/click.mp3">
      <source src="/sounds/click.ogg">
    </audio>
  </div>
</template>