<template name="popover">
  {{#ionPopover}}
    <div class="content">
      <div class="list">
        <a class="item item-icon-right ion-ios-arrow-right" href="http://crpwebdev.com" target="_blank">
          Autor
        </a>
        <a class="item item-icon-right ion-ios-arrow-right" href="https://github.com/caio-ribeiro-pereira/dalebombagame" target="_blank">
          Código-fonte
        </a>
        <a class="item item-icon-right ion-ios-arrow-right" href="http://www.meteor.com" target="_blank">
          Meteor
        </a>
        <a class="item item-icon-right ion-ios-arrow-right" href="http://meteoric.github.io" target="_blank">
          Meteoric
        </a>
        <a class="item item-icon-right ion-ios-arrow-right" href="http://www.casadocodigo.com.br/products/livro-meteor" target="_blank">
          Aprenda Meteor
        </a>
      </div>
    </div>
  {{/ionPopover}}
</template>