<template name="welcome">
  <h4 class="text-center dark">
    <i class="ion-speedometer bg-icon"></i>
    <br>
    Clique o mais rápido que puder!
  </h4>
  <form class="list padding">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Nome</span>
      <input type="text" maxlength="20" placeholder="Digite seu nome para jogar!">
    </label>
    <br>
    <button class="button button-balanced button-large button-block ion-play">
      INICIAR
    </button>
  </form>
</template>